@font-face{
    font-family: grotesk;
    src: url(../font/HKGrotesk-Medium.otf);
}
@font-face {
    font-family: groteska;
    src: url(../font/HKGrotesk-Light.otf);
}
@font-face {
    font-family: groteskas;
    src: url(../font/HKGrotesk-Regular.otf);
}
$font-h: 'grotesk';
$font-p: 'groteskas';
$font-a: 'groteska';
$size-h: 50px;
$size-p: 20px;
$size-a: 30px;


.divnav{
    display: flex;
    justify-content: space-around;
    margin-right: 16%;
}
.promo{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #F9F9F9;
    h2{
        font-family: groteskas;
    }
    img{
        width: 60px;
        margin-left: 35px;
        margin-right: 35px;
    }
}
.section__one{
    width: 100%;
    height: 70vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../img/pexels-torsten-dettlaff-3571093.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        font-family: $font-h;
        font-size: $size-h;
    }
    p{
        font-family: $font-p;
        font-size: $size-p;
    }
    a{
        font-family: $font-a;
        font-size: $size-a; 
        text-decoration: none;
        color: white;
        margin-top: 30px;
        text-shadow: 3px 3px 3px black;
            &:hover{
                color: black;
                transition: 0.1s;
                text-shadow: none;
            }
    }
}
.section__two{
    width: 100%;
    height: 70vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/pexels-torsten-dettlaff-3623358.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    a{
        font-family: $font-a;
        font-size: $size-a; 
        text-decoration: none;
        color: white;
        text-shadow: 3px 3px 3px black;
            &:hover{
                color: black;
                transition: 0.1s;
                text-shadow: none;
            }
    }
}
.section__three{
    width: 100%;
    height: 70vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/pexels-jess-bailey-designs-788946.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    a{
        font-family: $font-a;
        font-size: $size-a; 
        text-decoration: none;
        color: white;
        text-shadow: 3px 3px 3px black;
            &:hover{
                color: black;
                transition: 0.1s;
                text-shadow: none;
            }
    }
}
.section__four{
    width: 100%;
    height: 70vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../img/soporte.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    a{
        font-family: $font-a;
        font-size: $size-a; 
        text-decoration: none;
        color: white;
        text-shadow: 3px 3px 3px black;
            &:hover{
                color: black;
                transition: 0.1s;
                text-shadow: none;
            }
    }
    p{
        font-family: groteskas;
        font-size: 25px;
        color: white;
        text-shadow: 3px 3px 3px black;
        margin-top: 10px;
        background-color: #bcbab880;
        border-radius: 4px;
        border: solid 2px grey; 
    }
}
.footer{
    background-color: #BCBAB8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width: 50px;
        height: 50px;
    }
    a{
        font-family: grotesk;
        font-size: 20px;
        text-decoration: none;
        color: black;
        text-shadow: 3px 3px 3px white;
    }
    p{
        font-family: grotesk;
        font-size: 15px;
        text-decoration: none;
        color: black;
    }
}
.footer__a{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    width: 50px;
    height: 50px;
}