/* * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
} */
@font-face{
    font-family: grotesk;
    src: url(../font/HKGrotesk-Medium.otf);
}
@font-face {
    font-family: groteska;
    src: url(../font/HKGrotesk-Light.otf);
}
@font-face {
    font-family: groteskas;
    src: url(../font/HKGrotesk-Regular.otf);
}
/*----HEADER/NAV---*/

.divnav{
    display: flex;
    justify-content: space-around;
    margin-right: 16%;
}

/* intento nuevo */
/* .header{
    height: 8vh;
    display: flex;
    align-items: center;
    background-color: #BCBAB8;
}
.header div{
    display: flex;
    justify-content: flex-start;
    padding-right: 0px;
}

.header div a{
    font-size: 35px;
    padding-top: 10px;
    color: black;
    margin-right: 0px;
}

.header nav{
    background-color: #BCBAB8;
}

.header nav ul{
    display: flex;
    justify-content: center;
}

.nav__a{
    font-size: 25px;
    font-family: groteska;
    color: black;
} */
/* intento viejo */
/* .header{
    background-color:#BCBAB8;
    display: flex;
    align-items: center;
    height: 8vh;
} */
/* .header div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
    width: 15%;
    height: 20%;
} */
/* .header div a{
    text-decoration: none;
    font-family: grotesk;
    color: black;
    font-size: xx-large;
}
.header div img{
    width: 50px;
    height: 50px;

} */
/* .header nav{
    width: 85%;
    margin-left: 13%;
}

.header nav ul{
    display: flex;
    list-style: none;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
}
.header nav ul li{
    margin-left: 70px;
    margin-right: 70px;
}
.header nav ul li a{
    text-decoration: none;
    font-family: groteska;
    color: black;
    font-size: 20px;

    text-shadow: 2px 2px 2px white;
} */

/*----MAIN---*/

.promo{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #F9F9F9;

}
.promo h2{
    font-family: groteskas;
}
.promo img{
    width: 60px;
    margin-left: 35px;
    margin-right: 35px;
}
.section__one{
    width: 100%;
    height: 70vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../img/pexels-torsten-dettlaff-3571093.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section__one h1{
    font-family: grotesk;
    font-size: 50px;
    /* margin-left: 70%; */
}
.section__one p{
    font-family: groteskas;
    font-size: 20px;
    /* margin-left: 70%; */
}
.section__one a{
    font-family: groteska;
    font-size: 30px;
    text-decoration: none;
    color: white;
    /* margin-left: 70%; */
    margin-top: 30px;
    text-shadow: 3px 3px 3px black;
}
.section__one a:hover{
    color: black;
    transition: 0.1s;
    text-shadow: none;
}
.section__two{
    width: 100%;
    height: 70vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/pexels-torsten-dettlaff-3623358.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section__two a{
    font-family: groteska;
    font-size: 30px;
    text-decoration: none;
    color: white;
    text-shadow: 3px 3px 3px black;
}
.section__two a:hover{
    color: black;
    transition: 0.1s;
    text-shadow: none;
}
.section__three{
    width: 100%;
    height: 70vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/pexels-jess-bailey-designs-788946.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.section__three a{
    font-family: groteska;
    font-size: 30px;
    text-decoration: none;
    color: black;
    text-shadow: 3px 3px 3px black;
}
.section__three a:hover{
    color: white;
    transition: 0.1s;
    text-shadow: none;
}
.section__four{
    width: 100%;
    height: 70vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../img/soporte.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section__four a{
    font-family: groteska;
    font-size: 30px;
    text-decoration: none;
    color: black;
    text-shadow: 3px 3px 3px black;
}
.section__four p{
    font-family: groteskas;
    font-size: 25px;
    color: white;
    text-shadow: 3px 3px 3px black;
    margin-top: 10px;
    background-color: #bcbab880;
    border-radius: 4px;
    border: solid 2px grey; /* aca agregue bordes para cumplir con box modeling */
}
.section__four a:hover{
    color: white;
    transition: 0.1s;
    text-shadow: none;
}

/*----FOOTER---*/

.footer{
    background-color: #BCBAB8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.footer img{
    width: 50px;
    height: 50px;
}
.footer a{
    font-family: grotesk;
    font-size: 20px;
    text-decoration: none;
    color: black;
    text-shadow: 3px 3px 3px white;
}
.footer p{
    font-family: grotesk;
    font-size: 15px;
    text-decoration: none;
    color: black;
}
.footer__a{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    width: 50px;
    height: 50px;
}

/*----IPHONE----*/

.publicidad{
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.publicidad p{
    font-family: groteska;
    color: orange;
    font-size: 20px;
    margin-top: 10px;
}
.publicidad h3{
    font-family: groteskas;
    font-size: 25px;
}
.publicidad h2{
    font-family: grotesk;
    font-size: 45px;
}
.publicidad img{
    width: 50%;
}
/* .cards{
    height: 80vh;
    background-color: #F9F9F9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: groteska;
}
.cards__estilo{
    width: 14%;
    height: 50%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #BCBAB8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.cards__estilo img{
    width: 230px;
} */

/*----ACCESORIOS----*/

.accesorios{
    width: 100%;
    height: 70vh;
    color: black;

    background: url("../img/airpods-header-accessories-202110.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.accesorios div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-left: 15px;
}
.accesorios div h1{
    font-family: grotesk;
    /* font-size: 50px; */
}
.accesorios div p{
    font-family: groteskas;
    /* font-size: 20px; */
    
    
}

/*----SOPORTE----*/

.soporte{
    font-family: grotesk;
    font-size: 50px;
    margin-left: 5%;
}
.form{
    height: 80vh;
    margin-top: 5%;
    font-family: groteskas;
}
.form__div{
    font-family: groteska;
}

/*----NOSOTROS----*/

.section__uno{
    width: 100%;
    height: 70vh;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../img/camera_system__rp945vhdfsiu_large.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}
.section__uno h1{
    font-family: grotesk;
    font-size: 50px;
    margin-top: 10%;
}
.section__uno p{
    font-family: groteskas;
    font-size: 20px;
}
.section__dos{
    width: 100%;
    height: 70vh;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background: url("../img/pexels-opollo-photography-11525164.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}
.section__dos p{
    font-family: groteskas;
    font-size: 20px;
    height: auto;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 3px;
    text-align: center;
    padding-top: 20px;
}
/* la idea en esta seccion es agregar fotos de las oficinas pero todavia no tengo muy claro como lo voy a hacer */
.section__tres{ 
    font-family: groteskas;
    font-size: 30px;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section__tres p{
    width: 60vh;
    margin-left: 10vh;
}
.section__tres div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 10vh;
}
